extends layouts/login-layout.pug

block content
  .loginContainer
    h1 Login
    form(method="post" id="loginForm") 
      p.errorMessage= errorMessage
      input#username(type="text", name="username", placeholder="username or email", required="")
      input#password(type="text", name="password", placeholder="password", required="")
      input(type="submit", value="login")
    a(href="/register") Need and account? Register here.
block scripts
  script(src="/js/login.js") 
